body {
  padding-top: 2rem;
  background-color: rgb(182, 238, 219);
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(#1900ff, rgb(159, 201, 250));
  width: 30rem;
  margin: auto;
  border-radius: 1rem;
  border: 1px solid;
  padding: 20px;
  box-shadow: 10px 20px 8px #888888;
}

#addForm {
  width: 27rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  background-color: #fff;
  text-align: center;
  align-items: center;
  padding-top: 10px;
}

h1 {
  text-align: center;
  color: white;
}

input {
  background: #fff;
  color: #030303;
  border: none;
  font-size: 25px;
  outline: 0;
}

button {
  cursor: pointer;
  float: right;
  border: none;
  background-color: #fff;
  color: #fc0e0e;
  font-size: x-large;
  border-radius: 0.5rem;
}

#submit {
  cursor: pointer;
  border: none;
  outline: 0;
  font-size: 25px;
  color: rgba(0, 173, 9, 0.692);
  background-color: #fff;
  font-weight: bolder;
}

li {
  cursor: pointer;
  list-style-type: none;
  width: 25.7rem;
  background-color: #fff;
  font-size: 25px;
  border-radius: 0.5rem;
  margin: 10px 0px;
  padding: 10px;
}

#todoList {
  padding-inline-start: 0;
}

#clearList {
  border: #838383;
  border-style: outset;
  font-size: 25px;
  color: crimson;
  background-color: rgb(206, 205, 205);
  margin: 10px 0px 20px;
}

.line {
  text-decoration: line-through;
  color: #fc0e0e;
}
